
.emailDisplay{
    padding: 45px 45px;
    float:calc();
    color:black;
    font-size:30px;
    font-weight:500;
}
.navbar{
    background-color: #64b5f6 ;
    height:25%;
    border-radius: 25px;
    
}
.navbar ul{
overflow: auto;
text-align:auto;
}
.navbar li{
    float: right;
    list-style: none;
    margin: 25px 25px;
}
.navbar li a{
padding: 15px 15px;
text-decoration: none;
color: white;
}
.navbar li a:hover{
    background-color: #0d47a1 ;
    border-radius: 18px;
    }